.nav{
  background-color:#080808;
   height: 650px;
   font-family: monospace;
   color: #9C9C9C;
}
#nav{
   background-color: #808080;  

display: flex;
align-items: center;
gap: 60px;
margin-left: 150px;
margin-right: 150px;
color: #9C9C9C;
font-family: monospace;
}


#case{
text-align: center;
font-family: monospace;
color: #9C9C9C;


}
.if{
    border: 1px;
    border-radius: 30px;
    color: #FFA217;
    background-color: #FFF6E9;
    font-family: monospace;
    font-size: 12px;
    margin-top: 50px;
}

#you{
    color: #ffffff;
    font-family: monospace;
    background-color: #3F8E00;
   padding: 30px 55px;
    border: none;
    box-shadow: 2px 2px 4px #62BA1B;
    border-radius: 5px;
}
.er{
    font-size: 34px;
    font-family: monospace;
    color: #080808;
    
}
.you{
    color: #ffffff;
    font-size:44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images{
display: flex;
gap: 30px;
}
#nav{
 

}

#nav ul{
    display: flex;
    gap: 30px;
    margin-left: 100px;
}
#nav li{
    list-style-type: none;
}
.hero{
    display: flex;
    margin-top: 80px;
    margin-left: 155px;
    gap: 130px;
    word-wrap: break-word;
}
#hero{
margin-top: 50px;
}
.worked{
    margin-left: 150px;
}
.case{
    display: flex;
    font-family: monospace;
    gap: 50px;
    margin-left: 150px;
    margin-top: 70px;
    color: #9C9C9C;
}
.person{
    display: flex;
    font-family: monospace;
    gap: 50px;
    margin-left: 150px;
    margin-top: 70px;
    color: #9C9C9C;
}

.study{
    display: flex;
    font-family: monospace;
    gap: 50px;
     margin-left: 150px;
     margin-top: 70px;
     color: #9C9C9C;
}
.and{
    border: 1px;
    border-radius: 30px;
    color:#000AFF;
    background-color:#D0E6FF;
    font-family: monospace;
    font-size: 12px;
    margin-top: 75px;
}
.he{
    border: 1px;
    border-radius: 30px;
    color:#2AB090;
    background-color:hsl(166, 100%, 94%);
    font-family: monospace;
    font-size: 12px;
    margin-top: 60px;
}
.background{
   
}
.work{
    font-size: 24px;
    color: #080808;
    font-family: monospace;
}
.green{
padding: 10px 40px;
font-family: monospace;
background-color:#2AB090;
border: none;
border-radius: 5px;
color: white;
margin-top: 20px;
}
.blue{
    padding: 10px 40px;
    font-family: monospace;
    background-color:#000AFF;
    border: none;
    border-radius: 5px;
    color: white; 
    margin-top: 20px;
}
.yellow{
    padding: 10px 40px;
    font-family: monospace;
    background-color:#FFA217;
    border: none;
    border-radius: 5px;
    color: white; 
    margin-top: 20px;
}
.section{
    display: flex;
    gap: 40px;
    margin-left: 150px;
}
.back{
 background-color: #080808;
 height: 672px;
 
}
.Email{
   height: 40px;
   width: 350px;
}
.Mobile{
    height: 40px;
    width: 350px;
}
.message{
   height: 120px;
   width: 350px;
}
.op{
    margin-left: 480px;
    font-family: monospace;
    gap: 40px;
   color: #9C9C9C;;
}
#op{
    text-align: center;
    font-family: monospace;
    margin-top: 50px;
    color: #9C9C9C;
    gap: 30px;
}
.key{
    height: 50px;
    width: 350px;
    margin-top: 30px;
    margin-left: 480px;
    font-family: monospace;
    gap: 40px;
    background-color:#2AB090;
border: none;
border-radius: 5px;
color: white;
margin-top: 20px;
  box-shadow: 2px 2px 4px #62BA1B;
}
.fr{
    color: #9C9C9C;
}
.test{
    height: 152px;
    width: 400px;
    border: 1px solid #484848;
    border-radius: 5px;
    padding: 10px;
    color: #9C9C9C;
    border-right: none;
}
#test{
    display: flex;
    gap: 40px;
    margin-left: 150px;
    margin-top:100px;
    
}
.mouse{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-left: 150px;
}
.wagon{
    background-color: black;
    height: 700px;
    color: #9C9C9C;
    font-family: monospace;
  
   
}
.coma{
   margin-left: 10px;
    margin-top: -20px;
}
.d{
    font-size: 18px;
justify-content: center;
}
.gone{
    text-align: center;
    margin-top: 90px;
}


.footer{
    background-color: #1f1d1d;
    height: 30px;
    text-align: center;
    color: white;
    font-family: monospace;
    align-items: center;
    margin-top: -13px;
    margin-bottom: -13px;
}
@media(max-width:414px) {
   #nav{
display: none;

   }
   .nav{
height: 950px;
margin-top: -80px;
width: 600px;
}
#hero{
    font-size: 18px;
    margin-left: -80px;
    flex-wrap: wrap;
   

}
.you{
    font-size: 50px;
    margin-right: 60px;
}
.images{
    flex-wrap: wrap;
    gap: 5px;
margin-top: 30px;
   margin-left: -130px;
}
#you{
    height: 100px;
    width: 240px;
    font-size: 20px;
    margin-left: -20px;
    margin-top: 95px;


 
}
.case{
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -2px;
}


.person{
    flex-wrap: wrap;
    margin-top: -px;
    margin-left: -2px;
    gap: 1px;
}
.study{
    flex-wrap: wrap;
    margin-top: -1px;
    margin-left: 2px;
    
}
.wagon{
 flex-wrap: wrap;
 width:500px;
 height: 1250px;
 margin-left: -7px;

 
}
#test{
    flex-direction: column;
    margin-left: -10px;

}
  .test{

height: 180px;
width: 220px;
gap: 10px;
padding: 10px 20px;
margin-left: 40px;

  } 
  .mouse{
    flex-direction: column;
    margin-left: -10px;
  }
  .section{
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .freak{
    width: 290px;
  }
  .speak{
    width:280px ;
    margin-left: 30px;
  }
  .yellow{
    margin-left: 60px;
  }
  .blue{
    margin-left: 60px;
  }
  .green{
    margin-left: 60px;
  }
  .op{
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 30px;
  }
  .back{
    width: 600px;
    margin-left: -10px;
  }
  .key{
    margin-left: 5px;
  }
  .footer{
    background-color: #1a1919;
    color: white;
    font-family: monospace;
    text-align: center;
    margin-top: -13px;
    margin-bottom: -15px;
    margin-left: -8px;
    margin-right: -8px;

  }
  .fr{
    margin-left: px;

  }
}